[defaults]
# default inventory files - by default not set
inventory=hosts

gathering=smart
fact_caching_timeout=600
fact_caching=jsonfile
fact_caching_connection=cache/facts
# 兼容 docker network - 如果指定了网络不添加默认网络
networks_cli_compatible=yes
# 不校验分组名字 允许包含 `-'
force_valid_group_names=ignore

[ssh_connection]
ssh_args = -o ControlMaster=auto -o ControlPersist=60s -o PreferredAuthentications=publickey
pipelining = true
